body {
	background-color: #222222;
}

p {
	font-family: arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
}

a {
	font-family: arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #afaf02;
}

h1 {
	font-family: arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #afaf99;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	background-color: #000000;
	color: #ffffff;
}

tr:nth-child(even) {
	background-color: #222222;
}